domain: trading.loc

instances:
# --- All instances overrides ----
  _all:
    config:
      dry_run: true
      fiat_display_currency: EUR
      telegram:
        enabled: false
      api_server:
        enabled: true
        jwt_secret_key: my_awesome_jwt_secret
        username: my_awesome_username
        password: my_awesome_password
      initial_state: running
      forcebuy_enable: true

# ------------------------------------------
  my_super_config:
    strategy: Test
    config_file: my_super_config.json
    config:
      stake_amount: 25
      exchange:
        key: my_awesome_exchange_key
        secret: my_awesome_exchange_secret
      telegram:
        enabled: true
        token: my_awesome_telegram_token
        chat_id: "my_awesome_telegram_chat_id"

# # ------------------------------------------
#   another_awesome_instance:
#     strategy: MyAwesomeStrategy
#     config_file_path: my_awesome_config.json
#     config:
#       stake_amount: 100

# # ------------------------------------------
#   and_you_can_add_another_instance:
#     strategy: MyAwesomeStrategy12345
#     config_file_path: my_awesome_config_12345.json
#     config:
#       fiat_display_currency: BTC
#       stake_amount: 1000000

# # ------------------------------------------
#   # ...
